{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Q&A</title>
    <link href="{% static 'eduprod/styles.css' %}" rel="stylesheet">
    <script src="{% static 'eduprod/scripts.js' %}" defer></script>
    <meta charset="UTF-8"> <!--is the text encoder, meaning it tells the browser what encoding language to use to convert potentially unsafe characters-->
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>




